---
layout: default
title: "Bastian Köcher | TU Berlin"
publications:
#  - { section: true, title: "International Journals" }

  - { label: "VLDB 2014", title: "Ocelot/HyPE: optimized data processing on heterogeneous hardware", authors: "Sebastian Breß, Max Heimel, Bastian Köcher, Michael Saecker, Volker Markl, Gunter Saake", venue: "PVLDB, 7(13), 2014" }
  - { section: true, title: "Theses" }
  - { label: "MSc 2016", title: "Efficient Vectorized Query Processing on Heterogeneous Processors", authors: "Bastian Köcher", venue: "Master Thesis, TU Berlin, October 2016" }
  - { label: "BSc 2013", title: "Comparison and improvement of existing tools for the analysis of virtualized systems using the example of spinlocks", authors: "Bastian Köcher", venue: "Bachelor Thesis, Cooperative State Universtiy Baden-Württemberg / IBM, September 2013" }
---

<!-- - - - - - - - - - - - - - - - -->

<div id="top" class="row">
<div class="col-sm-8">
<h2> Bastian Köcher </h2>

<p class="lead">
    Research associate at the <a href="http://www.dima.tu-berlin.de/">Database Systems and Information Management Group</a> of <a href="http://www.tu-berlin.de/">TU Berlin</a> since November 2016.
</p>

<p style="text-align: justify;">
    I am a PhD candidate supervised by <a href="https://www.dima.tu-berlin.de/menue/mitarbeiter/volker_markl/">Volker Markl</a>. I received my M.Sc degree at TU Berlin and worked as a student research assistant at DIMA for three years. Prior to that, I received my B.Sc degree at <a href="http://www.dhbw-stuttgart.de/zielgruppen/international-visitors/">Baden-Württemberg Cooperative State University (DHBW Stuttgart)</a> and worked at IBM for three years.

</p>

<p style="text-align: justify;">
My research interests include data management, modern hardware and query compilation for heterogeneous processors.

<br>
</div>

<div class="col-sm-4">
<br/>
      <img src="assets/bastiankoecher.jpg" class="img-thumbnail" alt="Bastian Köcher">
</div>

<div class="col-sm-8">
  <!-- empty to align contact info !-->
</div>

<div class="col-sm-4">
<h4> <span class="fa fa-map-marker"></span> Address</h4>

Building EN/Office EN 741<br/>
Einsteinufer 17<br/>
10587 Berlin, Germany

</div>

<div class="col-sm-8">
  <!-- empty to align contact info !-->
</div>

<div class="col-sm-4">
<h4> <span class="fa fa-envelope"></span> e-mail/phone</h4>

firstname.lastname@tu-berlin.de<br>
+49 30 31422784
</div>
</div>


<!-- - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - - - -->

<div id="publications" class="row">
<div style="text-align: justify;" class="col-sm-12">
<h2>Publications</h2>

<dl class="dl-horizontal">
{% for pub in page.publications %}
{% if pub('section')? %}
<h4>{{pub.title}}</h4>
{% else %}
 <dt><span class="label label-primary">{{ pub.label }}</span><br/>
    {% if pub('pdf')? %}<a href="{{ pub.pdf }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i>&nbsp;PDF</a>{% endif %}
    {% if pub('poster')? %}<a href="{{ pub.poster }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i>&nbsp;Poster</a>{% endif %}
    {% if pub('slides')? %}<a href="{{ pub.slides }}" class="btn btn-default btn-xs"><i class="fa fa-download"></i>&nbsp;Slides</a>{% endif %}
	</dt>
  <dd>
    <strong>"{{ pub.title }}"</strong>: {{ pub.authors }}. {{pub.venue}}. 
  </dd>
{% endif %}
{% endfor %}
</dl>
</div>

<!-- - - - - - - - - - - - - - - - -->

<!-- <div id="service" class="row">
<div  style="text-align: justify;" class="col-sm-12">
<h2>Theses &amp; Teaching</h2>


<h3>Master Theses</h3>
<ul>
<li><strong>Suryamita Harindari</strong>: A Workflow Management System on Stratosphere (with Alexander Alexandrov) - Defended in August 2014</li>
<li><strong>Jonas Traub</strong>: Rich window discretization techniques in distributed stream processing (with Paris Carbone, KTH) - Defended in April 2015</li>
<li><strong>Andra Lungu</strong>: Partitioning Techniques for Highly Skewed Graphs (with Vasia Kalavri, KTH)</li>
<li><strong>Tamara Mendt</strong>: Online Statistics Collection and Optimization in Parallel Dataflow Systems (with Alexander Alexandrov)</li>
<li><strong>Robert Waury</strong>: Airline passenger estimation with Apache Flink</li>
</ul>

<h3>Teaching</h3>
<h4>Spring Semester 2015</h4>
<ul>
<li><strong>Suryamita Harindari</strong>: A Workflow Management System on Stratosphere (with Alexander Alexandrov) - Defended in August 2014</li>
</ul>


<h4>Winter Semester 2014</h4>
<ul>
<li><strong>Robert Waury</strong>: Airline passenger estimation with Apache Flink</li>
</ul>

<h4>Spring Semester 2014</h4>
<ul>
<li><strong>Suryamita Harindari</strong>: A Workflow Management System on Stratosphere (with Alexander Alexandrov) - Defended in August 2014</li>
</ul>



</div>
</div> -->












